= form_for @organization do |f|

  = render partial: 'partials/errors', locals: {model: @organization}

  .field
    = f.label :name
    = f.text_field :name
  .field
    = f.label :type
    = f.select :type_id, OrganizationType.pluck(:name, :id)
  .field
    = f.text_field :email, placeholder: :email
  .field
    = f.label :phone
    = f.text_field :phone
  .field
    = f.label :biography
    = f.text_area :biography
  .actions
    = f.submit 'Save'
