= form_for @organization do |f|

  = render partial: 'partials/errors', locals: {model: @organization}

  - if @organization.image.present?
    .field.form-group
      .row
        .col-md-3
          = image_tag @organization.image.thumb.url, class: 'rounded'
        .col-md-9
          = f.label 'Удалить изображение'
          = f.check_box :remove_image
  - else
    .field.form-group
      = f.label 'Изображение'
      = f.file_field :image
  .row.field.form-group
    .col-md-6
      = f.label 'Правовая норма'
      = f.select :category, organization_category_selection
    .col-md-6
      = f.label 'Название'
      = f.text_field :name, class: 'form-control'
  .field.form-group
    = f.label 'Почта'
    = f.text_field :email, class: 'form-control', placeholder: 'name@email.domain'
  .field.form-group
    = f.label 'Телефон'
    = f.text_field :phone, class: 'form-control', placeholder: '+7-000-000-0000'
  .field.form-group
    = f.label 'Описание'
    = f.text_area :biography, class: 'form-control'
    %small.text-muted
      Must be no more than 500 characters
  .actions.form-group
    = f.submit 'Обновить'
