= form_for @organization do |f|

  = render partial: 'partials/errors', locals: {model: @organization}

  .field
    = f.label :name
    = f.text_field :name
  .field
    = f.label :type
    = f.select :type_id, OrganizationType.pluck(:name, :id)
  .field
    = f.label :email
    = f.text_field :email
  .field
    = f.label :phone
    = f.text_field :phone
  .actions
    = f.submit 'Save'
