= form_for @organization do |f|

  = render partial: 'partials/errors', locals: {model: @organization}

  - if @organization.image.present?
    .field.form-group
      = f.label 'Удалить изображение'
      = f.check_box :remove_image
  - else
    .field.form-group
      = f.label 'Изображение'
      = f.file_field :image
  .field.form-group
    = f.label 'ОГРН организации'
    = f.text_field :psrn, class: 'form-control'
  .field.form-group
    = f.label 'Имя'
    = f.text_field :name, class: 'form-control'
  .field.form-group
    = f.label 'Правовая норма'
    = f.select :type_id, OrganizationType.pluck(:name, :id)
  .field.form-group
    = f.label 'Почта'
    = f.text_field :email, class: 'form-control', placeholder: 'name@email.domain'
  .field.form-group
    = f.label 'Телефон'
    = f.text_field :phone, class: 'form-control', placeholder: '+7 000-000-00-00'
  .actions.form-group
    = f.submit 'Создать'
