= form_for user do |f|

  = render partial: 'partials/errors', locals: {model: user}

  - if user.image.present?
    .field.form-group
      .row
        .col-md-3
          = image_tag user.image.thumb.url, class: 'rounded'
        .col-md-9
          = f.label 'Удалить изображение'
          = f.check_box :remove_image
  - else
    .field.form-group
      = f.label 'Изображение'
      = f.file_field :image
  .row.field.form-group
    .col-md-6
      = f.label 'Имя'
      = f.text_field :first_name, class: 'form-control'
    .col-md-6
      = f.label 'Фамилия'
      = f.text_field :last_name, class: 'form-control'
  .row.field.form-group
    .col-md-6
      = f.label 'ИНН'
      = f.text_field :itn, class: 'form-control'
    .col-md-6
      = f.label 'СНИЛС'
      = f.text_field :inoial, class: 'form-control'
  .field.form-group
    = f.label 'День рождения'
    = f.date_field :birthday, class: 'form-control'
  .field.form-group
    = f.label 'Дополнительная информация'
    = f.text_area :biography, class: 'form-control', rows: 5
    %small.text-muted
      Must be no more than 500 characters
  .actions.form-group
    = f.submit 'Обновить', class: 'btn btn-primary'