= form_for @user do |f|

  = render partial: 'partials/errors', locals: {model: @user}

  .field
    = f.label :email
    = f.text_field :email
  .field
    = f.label :password_digest
    = f.text_field :password_digest
  .actions
    = f.submit 'Save'
