.container
  .row.align-items-center{style: 'margin-top: 25px;'}
    .col-md-6
      %h1 Пользователи
    .col-md-6.text-right
      = link_to 'Пригласить', '#', class: 'btn btn-primary'
  .row{style: 'margin-top: 25px;'}
    .col-md-12
      = render partial: 'partials/search'
  .row{style: 'margin-top: 25px;'}
    .col-md-8
      - @users.each do |user|
        .row{style: 'margin-top: 25px;'}
          .col-md-3
            = image_tag user.image.thumb.url, class: 'img-thumbnail'
          .col-md-9
            .row
              .col-md-6
                %b
                  = user.last_name
                  = user.first_name
              .col-md-6.text-right
                %small.text-muted
                  Создана
                  = distance_of_time_in_words user.created_at, Time.now
                  назад
            .row
    .col-md-4
      .card.card-default
        %b.card-header Фильтрация
        .card-body
          %div
            %div
              %b.text-muted Сортировка
            %div{style: 'margin-top: 10px;'}
            = select_tag "filter_type", options_for_select(["не выбрано", "по рейтингу", "по дате"], "не выбрано")