.container
  %p
    %b Email:
    = @user.email
  %p
    %b Phone:
    = @user.phone
  %p
    %b First name:
    = @user.first_name
  %p
    %b Middle name:
    = @user.middle_name
  %p
    %b Last_name:
    = @user.last_name
  %p
    %b Birthday:
    = @user.birthday
  %p
    %b Biography:
    = @user.biography

  = policy(@user).edit? ? link_to('Edit', edit_user_path(@user)) : ''
  \|
  = link_to 'Back', users_path
