.row{style: 'padding-top: 25px;'}
  .col-md-12
    .row{style: 'padding-top: 25px;'}
      .col-md-5{style: 'text-align: center;'}
        = image_tag @user.image.thumb.url, size: '160x160', class: 'rounded'
        %div{style: 'padding-top: 25px;'}
          = policy(@user).edit? ? link_to('Редактировать', edit_user_path(@user), class: 'btn btn-primary') : ''
        %div{style: 'padding-top: 25px; text-align: left;'}
          %h5
            %b Организации
          .row{style: 'padding-top: 25px;'}
            - present(@user.organizations) do |organization|
              .col-md-3
                = link_to image_tag(organization.image.thumb_small.url, size: '64x64', class: 'rounded'), organization
      .col-md-7
        .row
          %h2
            = @user.last_name
            = @user.first_name
            = @user.middle_name
        .row
          %small.text-muted
            Присоединился:
            = @user.created_at.strftime '%F'
        .row{style: 'padding-top: 25px; width: 100%;'}
          %h5
            %b Персональная информация
          %div{style: 'padding-top: 25px;'}
            - if @user.email.present?
              .row.form-group
                .col-md-5
                  %small.text-muted Почта:
                .col-md-7
                  = @user.email
            - if @user.phone.present?
              .row.form-group
                .col-md-5
                  %small.text-muted Телефонный номер:
                .col-md-7
                  = @user.phone
            - if @user.birthday.present?
              .row.form-group
                .col-md-5
                  %small.text-muted День рождения
                .col-md-7
                  = @user.birthday
            - if @user.biography.present?
              .row.form-group
                .col-md-5
                  %small.text-muted Дополнительная информация:
                .col-md-7
                  = @user.biography
        .row{style: 'padding-top: 25px; width: 100%;'}
          %h5
            %b Запросы
          %div{style: 'padding-top: 25px;'}
            - @user.tickets.each do |ticket|
              .row
                = link_to ticket.title, ticket