.container{style: 'margin-top: 25px;'}
  .col-md-3.float-left
    %div
      = image_tag @user_presenter.image.thumb.url, class: 'rounded', style: 'width: 100%;'
    %div{style: 'margin-top: 20px;'}
      .h4
        %b= @user_presenter.full_name
      %div
        %small.text-muted
          Присоединился:
          = @user_presenter.created_at.strftime '%F'
    %div{style: 'margin-top: 10px;'}
      - if policy(@user_presenter).edit?
        = link_to 'Редактировать', edit_user_path(@user_presenter), class: 'btn btn-primary form-control'
    - if @user_presenter.organizations.any?
      %div{style: 'margin-top: 20px;'}
        %b Организации
        .row{style: 'margin-top: 10px;'}
          - @user_presenter.organizations.each do |organization|
            .col-md-3
              = link_to image_tag(organization.image.thumb.url, size: '48x48', class: 'rounded'), organization, {'data-toggle': "tooltip", 'data-placement': "top", title: "#{organization.name}"}
  .col-md-9.float-left
    %b
    .row{style: 'margin-top: 10px;'}
      .col-md-12