= form_for @user do |f|

  = render partial: 'partials/errors', locals: {model: @user}

  .field.form-group
    = f.label 'Имя'
    = f.text_field :first_name, class: 'form-control'
  .field.form-group
    = f.label 'Отчество'
    = f.text_field :middle_name, class: 'form-control'
  .field.form-group
    = f.label 'Фамилия'
    = f.text_field :last_name, class: 'form-control'
  .field.form-group
    = f.label 'День рождения'
    = f.date_field :birthday, class: 'form-control'
  .field.form-group
    = f.label 'Дополнительная информация'
    = f.text_area :biography, class: 'form-control'
    %small.text-muted
      Must be no more than 500 characters
  .actions.form-group
    = f.submit 'Обновить'
