= form_for @user do |f|

  = render partial: 'partials/errors', locals: {model: @user}

  .field
    = f.label :email
    = f.text_field :email
  .field
    = f.label :role
    = f.select :virtual_role, %w(consumer producer)
  .field
    = f.label :password
    = f.password_field :password
  .field
    = f.label :password_confirmation
    = f.password_field :password_confirmation
  .actions
    = f.submit 'Save'
