= form_for @ticket do |f|

  = render partial: 'partials/errors', locals: {model: @ticket}

  - if @ticket.image.present?
    .field.form-group
      = f.label 'Удалить изображение'
      = f.check_box :remove_image
  - else
    .field.form-group
      = f.label 'Изображение'
      = f.file_field :image
  .field
    = f.label :title
    = f.text_field :title
  .field
    = f.label :biography
    = f.text_field :biography
  .field
    = f.label :price
    = f.text_field :price
  .field
    = f.label :signature_price
    = f.text_field :signature_price
  .field
    = f.label :qty
    = f.text_field :qty
  .field
    = f.label :signature_qty
    = f.text_field :signature_qty
  .actions
    = f.submit 'Save'
