%p
  %b Название:
  = @ticket.title
%p
  %b Дополнительная информация:
  = @ticket.biography
%p
  %b Стоимость, ед.:
  = @ticket.price
%p
  %b Тип валюты:
  = @ticket.signature_price
%p
  %b Количество:
  = @ticket.qty
%p
  %b Единицы измерения:
  = @ticket.signature_qty

- if policy(@ticket).edit?
  = link_to 'Редактировать', edit_ticket_path(@ticket)
