.container
  .text-right
    = policy(Organization).new? ? link_to('Новая организация', new_organization_path) : ''
.container
  %h1 Организации

  %table
    %thead
      %tr
        %th Тип организации
        %th Название
        %th
        %th
        %th

    %tbody
      - @organizations.each do |organization|
        %tr
          %td= organization.organization_type.name
          %td= organization.name
          %td= policy(organization).show? ? link_to('Просмотреть', organization) : ''
          %td= policy(organization).edit? ? link_to('Редактировать', edit_organization_path(organization)) : ''
          %td= policy(organization).destroy? ? link_to('Уничтожить', organization, method: :delete, data: { confirm: 'Are you sure?' }) : ''