!!!
%html
  %head
    %meta{content: "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}
    %title
      = if content_for?(:title) then yield(:title) + ' | ' end
      = 'Oxerma - Платформа фермерского хозяйства'
    = csrf_meta_tags
    = csp_meta_tag
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'
  %body
    %wrapper.d-flex.flex-column
      = render partial: 'partials/header'
      = render partial: 'partials/flash'
      .flex-fill
        = yield
      %footer
        = render partial: 'partials/footer'