!!!
%html
  %head
    %meta{content: "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}
    %title Oxerma
    = csrf_meta_tags
    = csp_meta_tag
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'
  %body
    = render partial: 'partials/header'
    .container
      .row{style: 'padding-top: 25px;'}
        .col-md-2
          = render partial: 'partials/flash'
    .container
      .row{style: 'padding-top: 25px;'}
        .col-md-2{style: 'padding-top: 25px;'}
          = render partial: 'partials/navigation/authenticated/sidelong'
        .col-md-10
          = yield
    = render partial: 'partials/footer'